/* Nothing here is actually required. It's for the index.html layout only */

body {margin:1rem 2rem; font-family:sans-serif; line-height:1.5;}
h1,h2 {font-weight:100}
h2 {margin-top:2rem}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  width: 1px !important;
  height: 1px !important;
  border:0 !important;
}

.examples {overflow:hidden}

[data-matchHeights] {
  float: left;
  margin: .25%;
  padding: .25rem;
  width: 14%;
  border: 1px solid #ddd;
}
